.DS_Store
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.iml
*.lock
.idea/
.vscode/
*.log
.env
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
*.jks
*.keystore
